// 
// 
// user-variables.scss
//
// Place your own variable overrides here, these will override Bootstrap and theme variables.

$primary:       #319795;
$secondary:      #506690;
$blue-1:        $blue-1;
$blue-2:        $blue-2;
$soft-green:    #f0fcfa;
$success:       $primary;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         #f7fafc;
$dark:          #17141d;



